{% import "macros.html" as macros %} 
{% extends "index.html" %} 
{% block content %} 
{% set section = get_section(path="blog/_index.md") %}
<div class="posts">
  <article class="post">
    {{ macros::portrait(url="./portrait.png") }}
    <p style="text-align: center;">
      The universe is change; <br />our life is what our thoughts make it.<br />
      - Marcus Aurelius
    </p>
    {{ macros::links() }}
  </article>
  {% for page in paginator.pages %}
  <article class="post">
    {{ macros::title(page=page) }}
    <div class="post__summary">
      {{ page.summary | safe }}
    </div>
    <div class="read-more">
      <a href="{{ page.permalink }}">Read more...</a>
    </div>
  </article>
  {% endfor %}
</div>
<nav class="pagination">
  {% if paginator.previous %}
  <a class="previous" href="{{ paginator.previous }}">‹ Previous</a>
  {% endif %} {% if paginator.next %}
  <a class="next" href="{{ paginator.next }}">Next ›</a>
  {% endif %}
</nav>
{% endblock content %}
